@charset 'UTF-8';

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

.mobile-hidden{
  @include respond-to( 'mobile-only') {
    display: none !important;
  };
}

.tablet-hidden{
  @include respond-to( 'tablet-only' ) {
    display: none !important;
  };
}

.desktop-hidden{
  @include respond-to( 'desktop-only' ) {
    display: none !important;
  };
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden !important;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: ' '; /* 1 */
  line-height: 0;
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}
