p{
    font-family: $font-light;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem
}

h1,h3,h3,h4,h5,h6{
    font-family: $font-regular;
    font-style: normal;
    font-weight: normal;
}

h2{
    font-family: $font-bold;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem

}