.admin-list{
    list-style-type: none;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0;
    margin-bottom: 0;
    .admin-list-row{
        padding: 0px;
        &:nth-of-type(even){
            background-color: whitesmoke;
        }
        .list-thumb{
            display:block;
            float:left;
            position: relative;
            overflow: hidden;
            @include aspect-ratio(1,1);
            background-size: cover;
            background-position: center;
        }
        div{
            display:block;
            float: left;
            max-width: 100%;
        }
        h3{
            color: $gray;
            text-transform: capitalize;
            a{
                color: $brand-color;
            }
            small{
                margin-top: 0.25em;
                display: block;
            }
        }
    }
    .label{
        background-color: $brand-color;
    }
}