.admin-list{
    list-style-type: none;
    margin-left: -15px;
    margin-right: -15px;
    .admin-list-row{
        padding: 0px;
        &:nth-of-type(even){
            background-color: whitesmoke;
        }
        .video-thumb{
            display:block;
            float:left;
            position: relative;
            overflow: hidden;
            @include aspect-ratio(1,1);
            img{
                @include centerX();
                top: 0px;
                max-height: 100%;
            }
        }
        div{
            display:block;
            float: left;
            max-width: 100%;
        }
        h3{
            color: $gray;
            text-transform: capitalize;
            a{
                color: inherit;
            }
            small{
                margin-top: 0.25em;
                display: block;
            }
        }
    }
}