.admin-video {
	margin: 0 0 15px 0;
	display: block;
	min-height: 320px;	

	img {
		max-width: 100%;
	}

	.title {
		margin: 4px 0;
		font-size: 21px;

		a {
			color: #333;
			text-decoration: none;

			&:hover {
				text-decoration: none;
				color: #333;
			}

			&:focus {
				outline: none;
				text-decoration: none;
				color: #333;
			}
		}
	}
}
