// Variables to determine which col classes are used, should be kept up to date with the html
// e.g. if left column has class "col-sm-4" l-bs-col-x should be 4
$l-bs-col-x: 5;     // Left Column
$r-bs-col-x: 7;     // Right Column
$m-bs-col-x: 12;    // Mobile

// Use #{var-name} to use variables in class name
.grid{
    margin: 48px auto;
    &-row{
        position: relative;
        @extend %clearfix;
        .col-xs-#{$m-bs-col-x}{
            padding: 0px;
        }
        .content{
            width: 100%;
            height: auto;
            padding: 24px;
            h3{
                line-height: 1;
                text-transform: capitalize;
                overflow: hidden;
                text-overflow: hidden;
            }
            p{
                @include font-body();
                margin: 22px auto;
            }
        }
        &:nth-of-type(4n+1){
            background-color: white;
            .button{
                border-color: $brand-color;
                color: $brand-secondary-color;
                &:hover{
                    background-color: $brand-color;
                    color: white;
                }
            }
        }
        &:nth-of-type(4n+2){
            background-color: $brand-secondary-color;
            .content{
                color: white;
                p{
                    color: white;
                }
                .button{
                    border-color: white;
                    color: white;
                    &:hover{
                        background-color: white;
                        color: $brand-secondary-color;
                    }

                }
            }
        }
        &:nth-of-type(4n+3){
            background-color: white;
            .button{
                border-color: $brand-secondary-color;
                color: $brand-secondary-color;
                &:hover{
                    background-color: $brand-secondary-color;
                    color: white;
                }

            }
        }
        &:nth-of-type(4n+4){
            background-color: $brand-color;
            .content{
                color: white;
                p{
                    color: white;
                }
                .button{
                    border-color: white;
                    color: white;
                    &:hover{
                        background-color: white;
                        color: $brand-color;
                    }

                }
            }
        }
        &:nth-of-type(odd){
            .col-sm-#{$l-bs-col-x}{
                background-color: whitesmoke;
                background-image: url('http://placehold.it/956x694');
                background-size: cover;
                background-position: center;
                min-height: 350px;
            }
        }
        &:nth-of-type(even){
            transform: scaleY(-1);          // Black Magic
            .col-xs-#{$m-bs-col-x}{
                transform: scaleY(-1);      // Black Magic
            }
            .col-sm-#{$r-bs-col-x}{
                background-color: whitesmoke;
                background-image: url('http://placehold.it/956x694');
                background-size: cover;
                background-position: center;
                min-height: 350px;
            }
        }
    }
}

@media only screen and (min-width: 480px){
    .grid{
        &-row{
            .content{
                padding: 48px;
            }
        }
    }
}

@media only screen and (min-width: 768px){
    .grid{
        &-row{
            &:nth-of-type(odd){
                .col-sm-#{$l-bs-col-x}{
                    left: 0;
                    position: absolute;
                    height: 100%;
                }
                .col-sm-#{$r-bs-col-x}{
                    float: right;
                }
            }
            &:nth-of-type(even){
                .col-sm-#{$r-bs-col-x}{
                    right: 0;
                    position: absolute;
                    height: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .grid{
        &-row{
            .content{
                padding: 86px 106px;
            }
        }
    }
}