@charset 'UTF-8';

/**
 * Sizes in human readable format. These are used in conjunction with other
 * objects and abstractions found in inuit.css, most commonly the grid system
 * and faux flexbox.
 *
 * We have a mixin to generate our widths and their breakpoint-specific
 * variations.
 */

@mixin grid-setup($namespace: '') {

    $respondto-namespace: $namespace;

    @if $namespace !=  '' {
      $namespace: $namespace + '-';
    }

    /**
    * Whole
    */
    .#{$namespace}one-whole         { @if $namespace == '' { width: 100%; } @include respond-to( $respondto-namespace ) { width:100%; } }

    /**
    * Halves
    */
    .#{$namespace}one-half          { @if $namespace == '' { width: 50%; } @include respond-to( $respondto-namespace ) { width:50%; } }

    /**
    * Thirds
    */
    .#{$namespace}one-third         { @if $namespace == '' { width: 33.333%; } @include respond-to( $respondto-namespace ) { width:33.333%; } }
    .#{$namespace}two-thirds        { @if $namespace == '' { width: 66.666%; } @include respond-to( $respondto-namespace ) { width:66.666%; } }

    /**
    * Quarters
    */
    .#{$namespace}one-quarter       { @if $namespace == '' { width: 25%; } @include respond-to( $respondto-namespace ) { width:25%; } }
    .#{$namespace}two-quarters      { @if $namespace == '' { width: 50%; } @include respond-to( $respondto-namespace ) { width:50%; } }
    .#{$namespace}three-quarters    { @if $namespace == '' { width: 75%; } @include respond-to( $respondto-namespace ) { width:75%; } }

    /**
    * Fifths
    */
    .#{$namespace}one-fifth         { @if $namespace == '' { width: 20%; } @include respond-to( $respondto-namespace ) { width:20%; } }
    .#{$namespace}two-fifths        { @if $namespace == '' { width: 40%; } @include respond-to( $respondto-namespace ) { width:40%; } }
    .#{$namespace}three-fifths      { @if $namespace == '' { width: 60%; } @include respond-to( $respondto-namespace ) { width:60%; } }
    .#{$namespace}four-fifths       { @if $namespace == '' { width: 80%; } @include respond-to( $respondto-namespace ) { width:80%; } }

    /**
    * Sixths
    */
    .#{$namespace}one-sixth         { @if $namespace == '' { width: 16.666%; } @include respond-to( $respondto-namespace ) { width:16.666%; } }
    .#{$namespace}two-sixths        { @if $namespace == '' { width: 33%; } @include respond-to( $respondto-namespace ) { width:33%; } }
    .#{$namespace}three-sixths      { @if $namespace == '' { width: 49%; } @include respond-to( $respondto-namespace ) { width:49%; } }
    .#{$namespace}four-sixths       { @if $namespace == '' { width: 66%; } @include respond-to( $respondto-namespace ) { width:66%; } }
    .#{$namespace}five-sixths       { @if $namespace == '' { width: 83.333%; } @include respond-to( $respondto-namespace ) { width:83.333%; } }

    /**
    * Eighths
    */
    .#{$namespace}one-eighth        { @if $namespace == '' { width: 12.5%; } @include respond-to( $respondto-namespace ) { width:12.5%; } }
    .#{$namespace}two-eighths       { @if $namespace == '' { width: 25%; } @include respond-to( $respondto-namespace ) { width:25%; } }
    .#{$namespace}three-eighths     { @if $namespace == '' { width: 37.5%; } @include respond-to( $respondto-namespace ) { width:37.5%; } }
    .#{$namespace}four-eighths      { @if $namespace == '' { width: 49%; } @include respond-to( $respondto-namespace ) { width:49%; } }
    .#{$namespace}five-eighths      { @if $namespace == '' { width: 62.5%; } @include respond-to( $respondto-namespace ) { width:62.5%; } }
    .#{$namespace}six-eighths       { @if $namespace == '' { width: 75%; } @include respond-to( $respondto-namespace ) { width:75%; } }
    .#{$namespace}seven-eighths     { @if $namespace == '' { width: 87.5%; } @include respond-to( $respondto-namespace ) { width:87.5%; } }

    /**
    * Tenths
    */
    .#{$namespace}one-tenth         { @if $namespace == '' { width: 10%; } @include respond-to( $respondto-namespace ) { width:10%; } }
    .#{$namespace}two-tenths        { @if $namespace == '' { width: 20%; } @include respond-to( $respondto-namespace ) { width:20%; } }
    .#{$namespace}three-tenths      { @if $namespace == '' { width: 30%; } @include respond-to( $respondto-namespace ) { width:30%; } }
    .#{$namespace}four-tenths       { @if $namespace == '' { width: 40%; } @include respond-to( $respondto-namespace ) { width:40%; } }
    .#{$namespace}five-tenths       { @if $namespace == '' { width: 49%; } @include respond-to( $respondto-namespace ) { width:49%; } }
    .#{$namespace}six-tenths        { @if $namespace == '' { width: 60%; } @include respond-to( $respondto-namespace ) { width:60%; } }
    .#{$namespace}seven-tenths      { @if $namespace == '' { width: 70%; } @include respond-to( $respondto-namespace ) { width:70%; } }
    .#{$namespace}eight-tenths      { @if $namespace == '' { width: 80%; } @include respond-to( $respondto-namespace ) { width:80%; } }
    .#{$namespace}nine-tenths       { @if $namespace == '' { width: 90%; } @include respond-to( $respondto-namespace ) { width:90%; } }

    /**
    * Twelfths
    */
    .#{$namespace}one-twelfth       { @if $namespace == '' { width: 8.333%; } @include respond-to( $respondto-namespace ) { width:8.333%; } }
    .#{$namespace}two-twelfths      { @if $namespace == '' { width: 16.666%; } @include respond-to( $respondto-namespace ) { width:16.666%; } }
    .#{$namespace}three-twelfths    { @if $namespace == '' { width: 25%; } @include respond-to( $respondto-namespace ) { width:25%; } }
    .#{$namespace}four-twelfths     { @if $namespace == '' { width: 33%; } @include respond-to( $respondto-namespace ) { width:33%; } }
    .#{$namespace}five-twelfths     { @if $namespace == '' { width: 41%; } @include respond-to( $respondto-namespace ) { width:41% } }
    .#{$namespace}six-twelfths      { @if $namespace == '' { width: 49%; } @include respond-to( $respondto-namespace ) { width:49%; } }
    .#{$namespace}seven-twelfths    { @if $namespace == '' { width: 59%; } @include respond-to( $respondto-namespace ) { width:59%; } }
    .#{$namespace}eight-twelfths    { @if $namespace == '' { width: 66%;; } @include respond-to( $respondto-namespace ) { width:66%; } }
    .#{$namespace}nine-twelfths     { @if $namespace == '' { width: 75%;; } @include respond-to( $respondto-namespace ) { width:75%; } }
    .#{$namespace}ten-twelfths      { @if $namespace == '' { width: 83.333%; } @include respond-to( $respondto-namespace ) { width:83.333%; } }
    .#{$namespace}eleven-twelfths   { @if $namespace == '' { width: 91.666%; } @include respond-to( $respondto-namespace ) { width:91.666%; } }

    /**
    *  Weird numbers
    */
    .#{$namespace}one-fourth-of-three-fourth { @if $namespace == '' { width: 18.75%; } @include respond-to( $respondto-namespace ) { width: 18.75%; } }
}

@include grid-setup();