.banner{
  .headersmall{
    position:relative;
    .categorien{
      background-position: center;
      background-size: cover;
      width: 100%;
      height:200px;
      header{
        @include centerXY();
        width:100%;
        text-align: center;
        h1{
          font-size:20px;
          font-weight:$font-bold;
          color:$white;
          margin-left: 50px;
          margin-right: 50px;
          text-transform: capitalize;
        }
      }
    }
  }
  .catego-info{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height:1.5;
  }
  .catego-info__description{
    font-size:16px;
  }

  .filter{
  margin-left:15px;
  margin-right:15px;
  margin-bottom:60px;
    a{
width:100%;
float:left;
    }
  }

  .filter--name{
    margin-left:25%;
    margin-right:25%;
    color:$green;
    font-size:16px;
    margin-bottom:20px;
  }
}

@media screen and (min-width: 780px) {
  .banner{
    .headersmall{
      .categorien{
        height:300px;
      header{
        h1{
          font-size:26px;
        }
      }
    }
    }
    .catego-info__description{
      font-size:18px;
    }

    .filter{
      text-align:center;
      a{
        width:100%;
        float:none;
        margin-left:50px;
        margin-right:50px;
        text-transform:capitalize;

      }
    }
.filter--name{
  margin-left:0;
  margin-right:0;
  font-size:18px;
}
  }


  }

@media screen and (min-width: 1020px) {
  .banner{
    .headersmall{
      .categorien{
        height:400px;
      header{
        h1{
          font-size:34px;
        }
      }
    }
    }
  }

  }
