footer{
  margin-bottom: 55px;
  p{
    font-size: 14px;
  }
  .copyright{
    float:left;
  }
  .designed{
    float:right;
  }
}

@media screen and (min-width: 780px) {

  footer{
    p{
      font-size:20px;
    }
  }
}


@media screen and (min-width: 1020px) {

  footer{

    p{

    }
  }
}
