.banner{

  .bgimage{
    position: relative;
    background-image: url(../image/imageheader.jpg);
    background-size: cover;
    width: 100%;
    // height:500px;
    @include aspect-ratio(16,9);
    min-height: 250px;
    #tm_logo{
      @include aspect-ratio(100,39);
      width: 20%;
      max-width: 100px;
      position: absolute;
      display: block;
      bottom: 5%;
      right: 3%;
      background-image: url(../image/tm.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .header_image{
      width:100%;
      max-height: 750px;

    }
    header{
      @include centerY();
      width:100%;
      text-align: center;

      .headerlogo{
        margin: 0 auto;
        width:70%;
        max-width:571px;
      }
      h1{
        font-size:20px;
        font-weight:$font-bold;
        margin-top:12px;
        margin-left: 50px;
        margin-right: 50px;
      }

    }
  }
}

.introduction{
  margin-top:30px;
  .wrapp{
    line-height: 1.2;
    margin-left: 20px;
    margin-right: 20px;
    h2{
      font-family:$font-bold;
      color:$gray;
    }
    p{
      font-family:$font-light;
      color:$gray;
      margin-bottom: 15px;
    }
  }
}

@media screen and (min-width: 780px) {
  .banner{
    .bgimage{
      // height:650px;
      header{
        .headerlogo{
          margin-bottom:10px;
        }
        h1{
          font-size:26px;

        }
      }
    }
  }
  .introduction{
    .wrapp{
      line-height: 1.2;
      margin: 40px 80px;
    }
  }
}

@media screen and (min-width: 1220px) {
  .banner{
    .bgimage{
      // height:750px;
      header{
        #tm_logo{
          top: 360px;
        }
        .headerlogo{
          width:571px;
        }
        h1{
          font-size:34px;
        }
      }
    }
  }

  .introduction{
    .wrapp{
      line-height: 1.2;
      margin: 60px 175px;
    }
  }
}