.banner{

  .bgimage{
    position: relative;
  
    .header_image{
      width:100%;
      max-height: 750px;

    }
    header{
      @include centerY();
      width:100%;
      text-align: center;
      .headerlogo{
        margin: 0 auto;
        width:70%;
        max-width:571px;
      }
      h1{
        font-size:20px;
        font-weight:$font-bold;
        margin-top:12px;
        margin-left: 50px;
        margin-right: 50px;
      }
    }
    img{
      background-size: cover;
    }

  }

  .introduction{
    margin-top:30px;
    .wrapp{
      line-height: 1.2;
      margin-left: 20px;
      margin-right: 20px;
      h2{
        font-size:18px;
        font-family:$font-bold;
        color:$gray;
      }
      p{
        font-size:12px;
        font-family:$font-light;
        color:$gray;
        margin-bottom: 15px;
      }
    }
  }

}

@media screen and (min-width: 780px) {
  .banner{

    .bgimage{
      header{
        .headerlogo{
          margin-bottom:10px;
        }
        h1{
          font-size:26px;

        }
      }

    }
  }
}

@media screen and (min-width: 1020px) {

  .banner{

    .bgimage{
      header{
        .headerlogo{

          width:571px;
        }
        h1{
          font-size:34px;
        }
      }

    }
  }
}
