.banner{

  .bgimage{
    position: relative;
    header{
      @include centerXY();
    }
    img{
      max-height:800px;
      background-size: cover;
    }
  }

  .introduction{
    margin-top:30px;
    .wrapp{
      line-height: 1.2;
      h2{
        font-size:18px;
        font-family:$font-bold;
        color:$gray;
      }
      p{
        font-size:12px;
        font-family:$font-light;
        color:$gray;
        margin-bottom: 15px;
      }
    }
  }

}
