html, .user-body, .wrapper{
  height: 100%;
}

.container-fluid, .container{
    padding: 0px;
}

@media screen and (min-width: 480px) {
  .user-body{
    border-left: 25px solid white;
    border-right: 25px solid white;
  }
}

@media screen and (min-width: 780px) {
  .user-body{
      border-left: 40px solid white;
      border-right: 40px solid white;
  }
}

@media screen and (min-width: 1020px) {
  .user-body{
      border-left: 55px solid white;
      border-right: 55px solid white;
  }
}

.wrapper{
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.disable-scroll{
  position: fixed;
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
}