html, body, .wrapper{
  height: 100%;
}

body{
    border-left: 25px solid white;
    border-right: 25px solid white;
}

.container-fluid, .container{
    padding: 0px;
}


@media screen and (min-width: 780px) {
  body{
      border-left: 40px solid white;
      border-right: 40px solid white;
  }
}

@media screen and (min-width: 1020px) {
  body{
      border-left: 55px solid white;
      border-right: 55px solid white;
  }
}

.wrapper{
  //width: 1270px;
  width: 1170px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
