
.infospreker{

margin-top:55px;
margin-bottom:55px;
}

.infospreker__title{
  font-size:25px;
  color:$gray;
  margin-bottom:5px;
}

.infospreker__function{
  font-size:25px;
  color:$gray;
  margin-bottom:5px;
}


.infospreker__description{
  font-size:16px;
  color:$gray;
  margin-top:15px;
}


.spreker{
  height:700px;
  .col-sm-5{
    background-color: $gray;
    padding-top:30px;
    padding-bottom:50px;
    height: 350px;
    h3{
      margin-top: 25px;
    color:$white;
    }
    p{
      color:$white;
    }

}
}

.spreker {

.col-sm-7{
  min-height: 350px;
  background-repeat: no-repeat;
  background-size:cover;
}

}

.social{
  list-style-type: none;
  li{
    margin-top:25px;
  }
  a{
    font-size:16px;
  }
}

.social__left{
  color:$white;
  font-family:$font-light;
}

.social__left:hover{
  color:$white;
  text-decoration:none;
}
.social__right{
  color:$white;
  font-family:$font-light;
}

.social__right:hover{
  color:$white;
  text-decoration:none;
}
.social__facebook {
  height:20px;
  padding-right: 10px;
}

.social__twitter {
  height:20px;
  padding-right: 10px;
}

.back{
  background-color:$green;
  text-align: center;
  font-family:$font-light;
  margin-bottom:20px;


  .btn{
    text-align: center;
    color:$white;
    border: 1px solid $white;
    border-radius:0px;
    margin-top:50px;
    margin-bottom:50px;
    font-size:16px;
    padding: 18px 39px;
    transition:$anim;
  }

  .btn:hover{
    background-color:$white;
    color:$green;
  }
}

@media screen and (min-width: 480px) {
  .spreker{
    height:450px;
  .col-sm-5{
    min-height: 450px;
    .content{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .col-sm-7{
    min-height: 450px;
  }
}

.back{
  padding-top: 32px;
padding-bottom: 32px;
  .btn{
    padding: 18px 78px;
  }
}
}
  @media screen and (min-width: 1120px) {
    .spreker{
      height:450px;
    }

    .spreker .content{
      margin-top:40px;
    }
    .social li{
      width:50%;
      float:left;
    }

  }
